# 8-9. 프로젝트 - Movielens 영화 추천 실습

이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.  
이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. `MovieLens 1M Dataset` 사용을 권장합니다.
- 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
- 별점을 **시청횟수**로 해석해서 생각하겠습니다.
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.

`MovieLens 1M Dataset` 데이터셋의 경우는 크기가 작아서 아래와 같이 직접 다운 받고 압축해제 하겠습니다.

```
1) wget으로 데이터 다운로드
$ wget http://files.grouplens.org/datasets/movielens/ml-1m.zip

2) 다운받은 데이터를 작업디렉토리로 옮김
$ mv ml-1m.zip ~/aiffel/recommendata_iu/data

3) 작업디렉토리로 이동
$ cd ~/aiffel/recommendata_iu/data

4) 압축 해제
$ unzip ml-1m.zip
```

### 1) 데이터 준비와 전처리

---

Movielens 데이터는 `rating.dat` 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

In [1]:
import os
import pandas as pd

rating_file_path = os.getenv('HOME')+'/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::',
                      names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
# 이번 프로젝트에선 timestamp를 사용하지 않으므로 제거한다.
ratings = ratings.drop("timestamp", axis=1)
ratings.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating'] >= 3]
filtered_data_size = len(ratings)

print(
    f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(
    f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating': 'count'}, inplace=True)

In [5]:
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path = os.getenv('HOME') + '/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

여기까지가 전처리입니다. 이후에는 이전 스텝에 소개했던 것과 동일한 방식으로 MF model을 구성하여 내가 좋아할 만한 영화를 추천해 볼 수 있습니다.

### 2) 분석해 봅시다.

---

- ratings에 있는 유니크한 영화 개수

In [7]:
ratings['movie_id'].nunique()

3628

- rating에 있는 유니크한 사용자 수

In [8]:
ratings['user_id'].nunique()

6039

- 가장 인기 있는 영화 30개(인기순)

In [333]:
# movie_id -> title
movie_to_title = {k: v for k, v in zip(movies['movie_id'], movies['title'])}

In [349]:
movie_count = ratings.groupby('movie_id')['user_id'].count()
df_temp = pd.DataFrame(movie_count.sort_values(ascending=False).head(30))
for idx in df.index:
    df_temp.loc[idx, 'title'] = movie_to_title[idx]
df_temp

          user_id                                           title
movie_id
99           3211            Heidi Fleiss: Hollywood Madam (1995)
44           2910                            Mortal Kombat (1995)
117          2885           Young Poisoner's Handbook, The (1995)
64           2716                            Two if by Sea (1996)
48           2561                               Pocahontas (1995)
92           2510                              Mary Reilly (1996)
121          2498                 Boys of St. Vincent, The (1993)
120          2473                             Race the Sun (1996)
22           2460                                  Copycat (1995)
124          2434  Star Maker, The (Uomo delle stelle, L') (1995)
107          2414                   Muppet Treasure Island (1996)
38           2385                             It Takes Two (1995)
51           2371                           Guardian Angel (1994)
87           2314                        Dunston Checks In (1996)
175          2297                                     Kids (1995)
23           2257                                Assassins (1995)
5            2252              Father of the Bride Part II (1995)
126          2213               NeverEnding Story III, The (1994)
224          2210                         Don Juan DeMarco (1995)
157          2194                           Canadian Bacon (1994)
607          2167                                  Century (1993)
110          2121                               Braveheart (1995)
26           2102                                  Othello (1995)
170          2066                                  Hackers (1995)
243          2051                                    Gordy (1995)
222          2030                        Circle of Friends (1995)
160          2022                                    Congo (1995)
200          2019                      Tie That Binds, The (1995)
40           2001                 Cry, the Beloved Country (1995)
141          1941                            Birdcage, The (1996)

> title을 함께 출력해주었다.

### 3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

---

In [10]:
# movies에서 랜덤으로 목록을 출력해보며 내가 좋아하는 영화를 찾는다.
movies.sample(5)

,movie_id,title,genre
3213,3282,Different for Girls (1996),Comedy
2246,2315,Bride of Chucky (1998),Horror|Thriller
3785,3855,"Affair of Love, An (Une Liaison Pornographique...",Drama|Romance
154,156,Blue in the Face (1995),Comedy
129,131,Frankie Starlight (1995),Drama|Romance

In [11]:
# 혹은 직접 검색해서 찾기
# contains()를 이용해 키워드 검색을 할 수 있다.
movies[movies['title'].str.contains('Jurassic')]

,movie_id,title,genre
476,480,Jurassic Park (1993),Action|Adventure|Sci-Fi
1505,1544,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller

> 영어 제목에다 아는 영화가 별로 없어서 찾기 어려웠다.

In [12]:
# ratings의 마지막 user_id를 확인
ratings.tail()

         user_id  movie_id  count
1000203     6040      1090      3
1000205     6040      1094      5
1000206     6040       562      5
1000207     6040      1096      4
1000208     6040      1097      4

In [13]:
# 추가할 user_id가 있는지 검사
ratings['user_id'].isin([6041]).any()

False

In [14]:
# ratings에 data를 추가한다.
my_favorites = [
    {'user_id': 6041, 'movie_id': 1, 'count': 5},    # Toy Story
    {'user_id': 6041, 'movie_id': 2, 'count': 5},    # Jumanji
    {'user_id': 6041, 'movie_id': 589, 'count': 5},  # Terminator 2
    {'user_id': 6041, 'movie_id': 595, 'count': 5},  # Beauty and the Beast
    {'user_id': 6041, 'movie_id': 480, 'count': 5},  # Jurassic Park
]
my_favorites = pd.DataFrame(my_favorites)

# 사용자가 추가한 데이터가 없는 경우에 실행한다.
if not ratings['user_id'].isin([6041]).any():
    ratings = ratings.append(my_favorites, ignore_index=True)

# 데이터가 잘 추가되었는지 확인
ratings.tail(10)

        user_id  movie_id  count
836473     6040      1090      3
836474     6040      1094      5
836475     6040       562      5
836476     6040      1096      4
836477     6040      1097      4
836478     6041         1      5
836479     6041         2      5
836480     6041       589      5
836481     6041       595      5
836482     6041       480      5

### 4) CSR matrix를 직접 만들어 봅시다.

---

In [15]:
# ratings에서의 user_id, movie_id의 고유값 인덱싱
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

user_to_idx = {v: k for k, v in enumerate(user_unique)}
movie_to_idx = {v: k for k, v in enumerate(movie_unique)}

print(len(user_to_idx))
print(len(movie_to_idx))

6040
3628

In [16]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다.
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다.
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):  # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    # ratings['user_id']을 인덱싱된 Series로 교체해 줍니다.
    ratings['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 movie_id 컬럼도 동일한 방식으로 인덱싱해 줍니다.
temp_movie_data = ratings['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie_id column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie_id column indexing Fail!!')

ratings

user_id column indexing OK!!
movie_id column indexing OK!!

        user_id  movie_id  count
0             0         0      5
1             0         1      3
2             0         2      3
3             0         3      4
4             0         4      5
...         ...       ...    ...
836478     6039        40      5
836479     6039       513      5
836480     6039        92      5
836481     6039        10      5
836482     6039       107      5

[836483 rows x 3 columns]

In [17]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix(
    (ratings['count'], (ratings.user_id, ratings.movie_id)), shape=(num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

> `ratings['count']`를 `ratings.count`로 작성해 에러가 발생했었다.  
> method와 중복되는 column명은 위 방식으로 사용할 수 없나보다.

In [18]:
print(csr_data.data)
print(csr_data.indices)
print(csr_data.indptr)

[5 3 3 ... 5 5 5]
[  0   1   2 ...  92 107 513]
[     0     53    169 ... 836202 836478 836483]

### 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

---

In [19]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분
os.environ['OPENBLAS_NUM_THREADS'] = '1'
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
os.environ['MKL_NUM_THREADS'] = '1'

In [20]:
# Implicit AlternatingLeastSquares 모델의 선언
# 뒤에 user_id와 movie_id의 내적을 통해 factor와 iterations를 조정한다.
# factor는 1024로 결정
als_model = AlternatingLeastSquares(
    factors=1024, regularization=0.01, use_gpu=True, iterations=15, dtype=np.float32)

> GPU를 사용할 경우 (`use_gpu=True`) factor size가 32의 배수여야 하더라.

In [21]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [22]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

### 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

---

In [23]:
# Beauty and the Beast의 movie_id를 확인
movies[movies['title'].str.contains('Beauty and the Beast')]['movie_id']

591    595
Name: movie_id, dtype: int64

In [24]:
# 추가한 user_id와 movie title로 확인
user_6041 = user_to_idx[6041]
beauty_and_the_beast = movie_to_idx[595]

user_6041_vector, beauty_and_the_beast_vector = als_model.user_factors[
    user_6041], als_model.item_factors[beauty_and_the_beast]

In [25]:
# user_6041_vector

In [26]:
# beauty_and_the_beast_vector

In [27]:
# user_6041과 beauty_and_the_beast를 내적하는 코드
np.dot(user_6041_vector, beauty_and_the_beast_vector)

0.9277702

- AlternatingLeastSquares 설정값에 따른 내적값 기록
    - factor: 32, iterations: 15 = 0.2532453
    - factor: 64, iterations: 15 = 0.3410259
    - factor: 96, iterations: 15 = 0.47353137
    - factor: 128, iterations: 15 = 0.5210937
    - factor: 160, iterations: 15 = 0.5361786
    - factor: 192, iterations: 15 = 0.5691732
    - factor: 224, iterations: 15 = 0.5769719
    - factor: 256, iterations: 15 = 0.60421395
    - factor: 288, iterations: 15 = 0.6425415
    - factor: 320, iterations: 15 = 0.65804225
    - factor: 352, iterations: 15 = 0.657215
    - factor: 384, iterations: 15 = 0.7202506
    - factor: 416, iterations: 15 = 0.7227456
    - factor: 448, iterations: 15 = 0.72614276
    - factor: 480, iterations: 15 = 0.7495053
    - factor: 512, iterations: 15 = 0.76613164
    - factor: 1024, iterations: 15 = 0.92937416
    - factor: 2048, iterations: 15 = 0.051536147  


> factor를 올릴수록 내적값이 계속 상승하는 듯 하였으나 1024 이후 2048 부터는 크게 떨어진 값을 보여줬다. 오버피팅?!  
그래서 1024로 진행

> iterations는 논문이나 실제 구현체를 참고하여 보면 보통 10~15회 정도로 설정한다고 한다. 기본값이 15이고, 수치를 올려도 크게 영향을 주지는 않는 것 같아 15로 계속 설정하였다.

> 함수를 만들어서 간단히 실험하고 깔끔하게 결과를 출력하고 싶었지만 시간상 생략했다.

### 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

---

`AlternatingLeastSquares` 클래스에 구현되어 있는 `similar_items` 메서드를 통하여 비슷한 영화를 찾는다.

In [362]:
# title -> movie_id
title_to_movie = {v: k for k, v in zip(movies['movie_id'], movies['title'])}

# unique_movie_id -> movie_id
idx_to_movie = {k: v for v, k in movie_to_idx.items()}

In [366]:
# 영화 타이틀을 넘기면 비슷한 영화 5개를 출력하는 함수를 작성
def similar_movies(movie_title: str) -> None:
    favorite_movie = title_to_movie[movie_title]
    movie_idx = movie_to_idx[favorite_movie]
    
    # 비슷한 영화를 찾는다.
    similar_movie = als_model.similar_items(movie_idx, N=6)

    df = pd.DataFrame()
    for i in similar_movie:
        title = movie_to_title[idx_to_movie[i[0]]]
        df = df.append({'title': title, 'score': i[1]}, ignore_index=True)

    print(df)

In [367]:
similar_movies('Toy Story (1995)')

      score                                        title
0  1.000000                             Toy Story (1995)
1  0.473809                     Soft Toilet Seats (1999)
2  0.473393                           Jerry & Tom (1998)
3  0.472809                            Truce, The (1996)
4  0.472214               Slappy and the Stinkers (1998)
5  0.472098  Five Wives, Three Secretaries and Me (1998)

In [365]:
similar_movies('Jumanji (1995)')

      score                                        title
0  1.000000                               Jumanji (1995)
1  0.542952  Five Wives, Three Secretaries and Me (1998)
2  0.541028                        Dangerous Game (1993)
3  0.539554                             Zachariah (1971)
4  0.539253                       Neon Bible, The (1995)
5  0.539081               Slappy and the Stinkers (1998)

In [139]:
similar_movies('Jurassic Park (1993)')

      score                                      title
0  1.000000                       Jurassic Park (1993)
1  0.472073                               Loser (1991)
2  0.470723                         Pot O' Gold (1941)
3  0.468114                         Jerry & Tom (1998)
4  0.468084  Schlafes Bruder (Brother of Sleep) (1995)
5  0.467764                  Jar, The (Khomreh) (1992)

In [140]:
similar_movies('Terminator 2: Judgment Day (1991)')

      score                                      title
0  1.000000          Terminator 2: Judgment Day (1991)
1  0.498504            Man from Down Under, The (1943)
2  0.498095                        Running Free (2000)
3  0.497630                           Simon Sez (1999)
4  0.497354  Schlafes Bruder (Brother of Sleep) (1995)
5  0.496724                    Ulysses (Ulisse) (1954)

In [141]:
similar_movies('Beauty and the Beast (1991)')

      score                                   title
0  1.000000             Beauty and the Beast (1991)
1  0.506120               Farmer's Wife, The (1928)
2  0.506010           End of the Affair, The (1955)
3  0.505961          24 7: Twenty Four Seven (1997)
4  0.505415                    Six of a Kind (1934)
5  0.505296  Blood and Sand (Sangre y Arena) (1989)

### 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

---

`AlternatingLeastSquares` 클래스에 구현되어 있는 `recommend` 메서드를 통해 내가 좋아하는 영화와 비슷한 영화를 추천받는다.

In [29]:
# user = user_to_idx[6041]

# # recommend에서는 user*item CSR Matrix를 받는다.
# movie_recommended = als_model.recommend(
#     user, csr_data, N=20, filter_already_liked_items=True)
# movie_recommended

[(330, 0.14455189),
 (596, 0.091110826),
 (1130, 0.09012709),
 (34, 0.07630171),
 (578, 0.06992859),
 (141, 0.067019604),
 (1548, 0.066137314),
 (33, 0.06380976),
 (935, 0.062538534),
 (660, 0.060529597),
 (1837, 0.058475792),
 (173, 0.05816367),
 (751, 0.058070708),
 (1869, 0.057196952),
 (2395, 0.056544587),
 (1051, 0.054709546),
 (2216, 0.05390711),
 (555, 0.05364968),
 (2305, 0.053017966),
 (517, 0.051993202)]

### 루브릭

아래의 기준을 바탕으로 프로젝트를 평가합니다.

|평가문항|상세기준|
|:---|:---|
|1. CSR matrix가 정상적으로 만들어졌다.|사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.|
|2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.|사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.|
|3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다.|MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.|

# 후기

---

- 영화목록에 새 영화를 추가했던 썰